# matlab
*.m~
*.asv
*.mex*
octave-workspace
# *.mlx # matlab notebook

# Figures
*.png

# big data
*.nc
*.nc4
*.h5
*.hd5
*.bin
*.grd
*.vtk
*.off
*.obj
*.stl
*.tif
*.tiff

# shapefiles
# *.shp
# *.prj
# *.ovr
# *.dbf
# *.shx

# qgis
*.qgz
*.qgs
